{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Add New Task</h2>
    <form action="/tasks/new" method="POST">
        <div class="mb-3">
            <label for="job_id" class="form-label">Job ID</label>
            <input type="text" class="form-control" id="job_id" name="job_id" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="mb-3">
            <label for="user_id" class="form-label">Assigned to User</label>
            <select class="form-select" id="user_id" name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.first_name }}  {{  user.last_name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulty</label>
            <select class="form-select" id="difficulty" name="difficulty">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="estimatetime" class="form-label">Estimated Time</label>
            <input type="number" class="form-control" id="estimatetime" name="estimatetime" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
